:root {
  background-color: #e4edf7d5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sceleton {
  animation: sceleton-loader 1s linear infinite alternate;
}

@keyframes sceleton-loader {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
